PORT=3007

POSTGRES_USER=tu_db_user
POSTGRES_DB=db_name
POSTGRES_PASSWORD=aca-escribis-el-password-de-postgres
MY_PERSONAL_DB_PORT=1234

## for Prisma reading:
DATABASE_URL="postgresql://postgres:aca-escribis-el-password-de-postgres@localhost:1234/cars8_db?schema=public"


JWT_SECRET=aca-escribis-el-jwt-secret
JWT_REFRESH_SECRET=aca-escribis-el-jwt-refresh-secret

JWT_EXPIRES_IN=3h
JWT_REFRESH_EXPIRES_IN=7d
